<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>글수정 페이지</title>
</th:block>
<th:block layout:fragment="add-css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>글수정 페이지</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
    </div>

    <div class="content">
        <section>
            <form id="updateForm" method="post" th:action th:object="${board}" enctype="multipart/form-data">
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;"/>
                        <col style="width:23%;"/>
                        <col style="width:10%;"/>
                        <col style="width:23%;"/>
                    </colgroup>
                    <tr hidden>
                        <td colspan="4"><input type="hidden" th:field="*{id}"></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            제목
                        </th>
                        <td colspan="3">
                            <input th:errorclass="field-error" id="name" type="text" name="name" th:field="*{name}"
                                   placeholder="제목"/><br>
                            <div class="field-error" th:errors="*{name}">제목 오류</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            작성일
                        </th>
                        <td th:field="*{registerDate}" th:text="${#temporals.format(board.registerDate,'yyyy-MM-dd HH:mm:ss')}" colspan="3">
                            <input type="text" th:field="*{registerDate}" th:value="${#temporals.format(board.registerDate,'yyyy-MM-dd HH:mm:ss')}">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            작성자
                        </th>
                        <td th:field="*{writer}" th:text="*{writer}" colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">상단 여부</th>
                        <td colspan="3">
                            <input type="checkbox" id="is_top" name="is_top" th:field="*{is_top}"
                                   th:checked="*{is_top eq 'Y'} ? 'checked':null" class="chkbox">
                            <input type="hidden" name="_is_top" value="N" th:attr="value=${is_top}"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">내용</th>
                        <td colspan="3"><textarea id="summernote" name="content" th:utext="*{content}"></textarea></td>
                    </tr>
                    <tr>
                        <th scope="row">첨부파일</th>
                        <td colspan="3">
                            <div style="width: 100%;" th:each="file, fileStat : ${fileList}">
                                <input name="fileId" type="text" th:value="${file.id}" hidden="true">
                                <input style="width: 200px" name="fileName" type="text"
                                       th:id="edtText+(${fileStat.index}+1)" th:value="${file.uploadFileName}" readonly>
                                <input class="file_input" type="file" name="file" th:id="file+(${fileStat.index}+1)" th:onchange="editFile([[${fileStat.index}]]+1)">
                                <a href='#' th:onclick="deleteFile([[${fileStat.index}]]+1);">[X]</a>
                            </div>
                            <th:block th:if="${fileList != null and fileList.size() < 2}">
                                <div th:each="num : ${#numbers.sequence(fileList.size()+1,2)}">
                                    <input name="fileId" type="text" hidden="true">
                                    <input style="width: 200px" name="fileName" type="text" th:id="edtText+(${num})"
                                           readonly>
                                    <input class="file_input" type="file" name="file" th:id="'file' + ${num}" th:onchange="editFile([[${num}]])">
                                    <a href='#' th:onclick="deleteFile('#file[[${num}]]')">[X]</a>
                                </div>
                            </th:block>
                            <th:block th:if="${fileList == null}">
                                <div th:each="num : ${#numbers.sequence(1,2)}">
                                    <input name="fileId" type="text" hidden="true">
                                    <input style="width: 200px" name="fileName" type="text" th:id="edtText+(${num})"
                                           readonly>
                                    <input class="file_input" type="file" name="file" th:id="'file' + ${num}" th:onchange="editFile([[${num}]])">
                                    <a href='#' th:onclick="deleteFile('#file[[${num}]]')">[X]</a>
                                </div>
                            </th:block>
                        </td>
                    </tr>
                </table>
                <p class="btn_set mgt3 mgr3">
                    <button class="btns btn_bdr4 btn_mid"
                            th:onclick="|location.href='@{/board/edit/{boardIdx}(boardIdx=${board.id})}'|" type="submit">수정
                    </button>
                    <button class="btns btn_bdr1 btn_mid"
                            th:onclick="|location.href='@{/board/delete/{boardIdx}(boardIdx=${board.id})}'|" type="button">삭제
                    </button>
                    <button class="btns btn_bdr2 btn_mid"
                            th:onclick="|location.href='@{/board/view/{boardIdx}(boardIdx=${board.id})}'|">취소
                    </button>
                </p>
            </form>
        </section>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="../../js/summernote/summernote-ko-KR.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '내용',
                minHeight: 200,
                maxHeight: null,
                focus: true,
                lang: 'ko-KR',
                height: 300,                 // 에디터 높이
                lang: "ko-KR",					// 한글 설정
                callbacks: {
                    onImageUpload: function (files) {
                        for (var i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i], this);
                        }
                    }
                }
            })
        });

        /**
         * 이미지 파일 업로드
         */
        function uploadSummernoteImageFile(file, el) {
            data = new FormData();
            data.append("file", file);
            ajaxUpload('post','/uploadSummernoteImageFile',data, function (data) {
                $(el).summernote('insertImage', data.url);
            });
        }

        function deleteFile(num) {
            $('#file' + num).val('');
            $('#edtText' + num).val('');
        }

        function editFile(num) {
            var obj = $('#file' + num).val().split("\\");
            $('#edtText' + num).val(obj[obj.length - 1]);
        }

    </script>
</th:block>
</html>
