<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="../../jquery/jquery-3.7.0.min.js"></script>
    <!--<script type="text/javascript" src="../../js/bootstrap.js"></script>-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="../../js/summernote/summernote-ko-KR.js"></script>
</head>
<style>
    .container {
        max-width: 560px;
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }

    input {
        margin: 4px;
    }

    @font-face {
        font-family: 'SUITE-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
</style>


<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: '내용',
            minHeight: 200,
            maxHeight: null,
            focus: true,
            lang: 'ko-KR',
            height: 500,                 // 에디터 높이
            lang: "ko-KR"					// 한글 설정
           /* callbacks: {
                onImageUpload: function (files) {
                    // 파일 업로드(다중업로드를 위해 반복문 사용)
                    for (var i = files.length - 1; i >= 0; i--) {
                        uploadSummernoteImageFile(files[i], this);
                    }
                },
                onMediaDelete : function(target) {
                    deleteFile(target[0].src);
                }
            }*/
        }),

        $("div.note-editable").keydown(function (e) {
            if(e.keyCode === 8) {
                console.log(e.data);
                console.log("aaaa");
            }
        });
    });

    /**
     * 이미지 파일 업로드
     */
    function uploadSummernoteImageFile(file, el) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/uploadSummernoteImageFile",
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                $(el).summernote('insertImage', data.url);
            }
        });
    }

    // 이미지 삭제 AJAX 요청
    function deleteFile(imageUrl) {
        console.log(imageUrl);
        $.ajax({
            url: "/deleteSummernoteImage",
            type: "POST",
            data: JSON.stringify({ imageUrl: imageUrl }),
            contentType: "application/json",
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

</script>
<body>
<h2 style="text-align: center;">글 수정</h2><br><br><br>

<div class="container" style="margin: auto;">
    <form id="updateForm" method="post" th:action th:object="${item}">
        <input type="hidden" th:field="*{id}">
        <label for="name">제목</label>
        <input th:errorclass="field-error" id="name" type="text" name="name" th:field="*{name}" style="width: 20%;"
               placeholder="제목"/><br>
        <div class="field-error" th:errors="*{name}">제목 오류</div>
        <label for="writer">작성자</label>
        <input th:errorclass="field-error" id="writer" type="text" name="writer" th:field="*{writer}"
               style="width: 40%;" placeholder="작성자"/>
        <div class="field-error" th:errors="*{writer}">작성자 오류</div>
        <br>
        <label for="is_top">상단 여부</label>
        <input type="checkbox" id="is_top" name="is_top" th:field="*{is_top}" th:value="*{is_top}" th:checked="*{is_top == 'Y'}?true:false" th:onclick="handleChange(this)" class="form-check-input">
        <input type="hidden" name="_is_top" value="N" />
        <br><br>
        <textarea id="summernote" name="content" th:utext="*{content}"></textarea>
        <div style="float: right">
            <button th:onclick="|location.href='@{/board/edit/{itemId}(itemId=${item.id})}'|" class="btn btn-primary" type="submit" style="margin-top: 3px;margin-right: 2px">수정</button>
            <button th:onclick="|location.href='@{/board/delete/{itemId}(itemId=${item.id})}'|" class="btn btn-secondary" type="button" style="margin-top: 3px;">삭제</button>
        </div>
    </form>
</div>
</body>
<script>
    function handleChange(checkbox) {
        console.log("aaa")
        /*if (checkbox.checked) {
            /!* Checkbox가 체크되었을 때 값 변경 *!/
            console.log("bbbb");
            $('[name="is_top"]').attr('value','Y');
        } else {
            /!* Checkbox가 체크 해제되었을 때 값 변경 *!/
            $('[name="is_top"]').attr('value','N');
        }*/
    }
</script>
</html>
