<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../jquery/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
</head>
<style>
    @font-face {
        font-family: 'SUITE-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    body {
        font-family: 'SUITE-Regular';
    }
</style>
<body>
<form th:action="@{/board/excel}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <div class="row" style="margin-top: 50px;">
        <div class="col">
            <input th:type="submit" value="제출"></button>
        </div>
    </div>
</form>
</body>
</html>