<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../jquery/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
</head>
<style>
    .pagination {
        justify-content: center;
    }

    @font-face {
        font-family: 'SUITE-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    body {
        font-family: 'SUITE-Regular';
    }
</style>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>스프링 부트 게시판</h2>
    </div>
    <table class="float-end">
        <tr>
            <td>
                <button class="btn btn-primary float-end" data-bs-toggle="modal" th:attr="onclick=|popUp()|">엑셀업로드
                </button>
            </td>
            <td>
                <!-- 모달 버튼 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    모달 열기
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span style="float: right" th:text="'총 개수 : ' + ${count}"></span></td>
        </tr>
    </table>
</div>

<table class="table table-bordered table-hover">
    <tr style="text-align: center; background-color: cornflowerblue;">
        <th>글 번호</th>
        <th>글쓴이</th>
        <th>글 제목</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td href="detail.html" th:text="${board.id}" th:href="@{/board/{detailId}(detailId=${board.id})}">글 번호</td>
        <td th:text="${board.writer}">글쓴이</td>
        <td th:text="${board.name}">글 제목</td>
    </tr>
    <tr th:if="${boardList.isEmpty()}" style="text-align: center">
        <td colspan="3">데이터가 없습니다.</td>
    </tr>
</table>
</div>

<!-- 페이징 -->
<div th:if="${!boardList.isEmpty()}">
    <!-- 전역 변수 선언 -->
    <nav
            th:with="
              number = ${boardList.number}+1,
              size = ${boardList.size},
              totalPages = ${boardList.totalPages},
              startPage = ${T(java.lang.Math).floor(number / size) * size + 1},
              tempEndPage = ${startPage + size - 1},
              endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
            aria-label="Page navigation"
    >
        <ul class="pagination ">
            <!-- 처음으로 이동 -->
            <li class="page-item">
                <a class="page-link" th:href="@{/board?(page=1)}">
                    <span>&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <!-- 이전으로 이동 -->
            <li th:classappend="${boardList.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boardList.first} ? '#' : @{/board?(page=${number}-1)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- 특정 페이지로 이동 -->
            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{/board?(page=${page})}"></a>
            </li>
            <!-- 다음으로 이동 -->
            <li th:classappend="${boardList.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boardList.last} ? '#' : @{/board?(page=${number + 1})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <!-- 마지막으로 이동 -->
            <li class="page-item">
                <a class="page-link" th:href="@{/board?(page=${totalPages})}">
                    <span>&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">모달 제목</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- iframe 내부에 보여줄 콘텐츠 -->
                <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function popUp() {
        var popupX = (document.body.offsetWidth / 2) - (300 / 2);
        // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
        var popupY= (window.screen.height / 2) - (300 / 2);
        // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
        window.open("/board/excel", "pop", "width=400, height=200, scrollbars=yes left="+ popupX + ", top="+ popupY);
    }
</script>
