<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <section>
            <div class="py-5 text-center">
                <h2>스프링 부트 게시판</h2>
            </div>
            <div class="search_box">
                <form id="searchForm">
                    <div class="sch_group">
                        <span>통합검색 </span>
                        <select name="searchType" id="searchType" title="검색 유형 선택">
                            <option value="all" th:selected="${searchCond.searchType} == 'all'">제목+내용</option>
                            <option value="title" th:selected="${searchCond.searchType} == 'title'">제목</option>
                            <option value="content" th:selected="${searchCond.searchType} == 'content'">내용</option>
                        </select>
                        <input type="text" th:field="${searchCond.keyword}">
                        <button class="bt_search" type="button" th:onclick="movePage(1)">검색</button>
                    </div>
                    <div class="sch_group">
                        <span>등록일 </span>
                        <input style="width: 100px;" type="date" name="strtDate" max="9999-12-31" th:field="${searchCond.strtDate}"> ~
                        <input style="width: 100px;" type="date" name="endDate" max="9999-12-31" th:field="${searchCond.endDate}">
                    </div>
                    <div class="sch_group">
                        <span>상단 여부 </span>
                        <input type="checkbox" name="is_top" th:field="${searchCond.is_top}" class="form-check-input">
                        <input type="hidden" name="_is_top" value="false"/>
                    </div>
                </form>
            </div>

            <table class="float-end">
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: 9.4%;">
                    <col style="width: 8.5%;">
                    <col style="width: 4.9%;">
                    <col style="width: 11.4%;">
                    <col style="width: 16%;">
                </colgroup>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn_st3 btn_mid btn_bdr3"  th:attr="onclick=|popup_win('/board/excel','pop',400,200,'yes')|">엑셀업로드
                        </button>
                    </td>
                    <td>
                        <!-- 모달 버튼 -->
                        <button type="button" class="btn_st3 btn_mid btn_bdr3"  data-bs-target="#exampleModal">
                            모달 열기
                        </button>
                    </td>
                    <td>
                        <!-- 모달 버튼 -->
                        <button type="button" class="btn_st3 btn_mid btn_bdr3" th:onclick="|location.href='@{/board/add}'|">
                            작성
                        </button>
                    </td>
                    <td>
                        <!-- 모달 버튼 -->
                        <button type="button" class="btn_st3 btn_mid btn_bdr3" th:onclick="fixedIsTop()">
                            상단고정 적용
                        </button>
                    </td>
                    <td>
                        <form action="/board/download" method="get">
                            <button class="bt_excel btn_mid btn_bdr2" type="submit">엑셀 템플릿 다운로드</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td th:colspan="6"><span class="float-end" style="float: right" th:text="'총 개수: ' + ${count}"></span></td>
                </tr>
            </table>

            <table class="tb tb_col" id="boardTable">
                <tr style="text-align: center; background-color: cornflowerblue;">
                    <th style="color: white;" scope="col">글 번호</th>
                    <th style="color: white;" scope="col">글쓴이</th>
                    <th style="color: white;" scope="col">글 제목</th>
                    <th style="color: white;" scope="col">등록일</th>
                    <th style="color: white;" scope="col">조회수</th>
                    <th style="color: white;" scope="col">상단고정</th>
                </tr>
                <tr th:each="board: ${boardList}">
                    <td style="text-align: center"><a href="#" th:href="@{/board/view/{boardId}(boardId=${board.id})}"
                                                      th:text="${board.id}">글 번호</a></td>
                    <td th:text="${board.writer}">글쓴이</td>
                    <td th:text="${board.name}">글 제목</td>
                    <td th:text="${#temporals.format(board.registerDate,'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                    <td style="text-align: center" th:text="${board.views}">조회수</td>
                    <td style="text-align: center">
                        <input type="checkbox" id="is_top" name="is_top" th:value="${board.is_top}"
                               th:checked="${board.is_top == 'Y'}" class="form-check-input">
                    </td>
                </tr>
                <tr th:if="${boardList.isEmpty()}" style="text-align: center">
                    <td colspan="6">데이터가 없습니다.</td>
                </tr>
            </table>
        </section>
    </div>
    <!-- 페이징 -->
    <div class="paging" th:if="${!boardList.isEmpty()}">
        <!-- 전역 변수 선언 -->
        <nav
                th:with="
              number = ${boardList.number}+1,
              size = ${boardList.size},
              totalPages = ${boardList.totalPages},
              startPage = ${startPage},
              tempEndPage = ${startPage + size - 1},
              endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                aria-label="Page navigation"
        >
                <!-- 처음으로 이동 -->
                <a class="page_bt first" th:href="@{/board?(page=1)}">
                    <span>&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
                <a th:classappend="${boardList.first} ? 'disabled'" class="page_bt prev" href="javascript:void(0);" th:onclick="movePage([[${number}-1]])"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- 특정 페이지로 이동 -->
                    <a th:each="page: ${#numbers.sequence(startPage, endPage)}"
                       th:classappend="${page == number} ? 'on'" th:text="${page}" href="javascript:void(0);"
                       th:onclick="movePage([[${page}]])"></a>
                <!-- 다음으로 이동 -->
                <a th:classappend="${boardList.last} ? 'disabled'" class="page_bt next" href="javascript:void(0);" th:onclick="movePage([[${number + 1}]])"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
                <!-- 마지막으로 이동 -->
                <a class="page_bt last" th:onclick="movePage([[${totalPages}]])">
                    <span>&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
        </nav>
    </div>
    <!-- 모달 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">모달 제목</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- iframe 내부에 보여줄 콘텐츠 -->
                    <iframe src="" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script>

        // 페이지 이동
        function movePage(page) {

            const form = document.getElementById('searchForm');

            if (!form.is_top.checked) {
                form.is_top.value = false;
            }

            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 10,
                searchType: form.searchType.value,
                keyword: form.keyword.value,
                strtDate: form.strtDate.value,
                endDate: form.endDate.value,
                is_top: form.is_top.value
            }

            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }

        function fixedIsTop() {
            if(confirm("적용하시겠습니까?")) {
                // 테이블 데이터 추출
                var table = document.getElementById("boardTable");  // 테이블 요소 선택
                var tableData = [];
                var headers = ["id","writer","name","registerDate","views","is_top"]
                for (var i = 1; i < table.rows.length; i++) {
                    var rowData = {};
                    var cells = table.rows[i].getElementsByTagName("td");
                    for (var j = 0; j < cells.length; j++) {
                        var cell = cells[j];
                        var checkbox = cell.querySelector('input[type="checkbox"]');
                        if (checkbox) {
                            if (checkbox.checked) {
                                rowData[headers[j]] = 'Y';
                            } else {
                                rowData[headers[j]] = 'N';
                            }
                        } else {
                            // 텍스트 가져오기
                            var text = cell.textContent.trim();
                            rowData[headers[j]] = text;
                        }
                    }
                    tableData.push(rowData);
                }
                console.log(tableData);
                ajaxCmm('post',`/board/fixedIsTop`,'text',JSON.stringify(tableData),'application/json',function () {
                    alert("적용되었습니다.");
                    location.reload();
                });
            }
        }

    </script>
</th:block>
</html>