<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="adm_wrap">
    <header>
        <div class="head">
            <h1>유니스터디 프로젝트</h1>
            <div class="top_menu">
                <!--가로형 3단 드롭다운 메뉴-->
                <div id="menu">
                    <ul class="main1">
                        <li>
                            <a href="#">메뉴1</a>
                            <ul class="main2">
                                <li><a href="#">소메뉴1</a></li>
                                <li>
                                    <a href="#">소메뉴2</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴1</a></li>
                                        <li><a href="#">2단소메뉴2</a></li>
                                        <li><a href="#">2단소메뉴3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">소메뉴3</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴4</a></li>
                                        <li><a href="#">2단소메뉴5</a></li>
                                        <li><a href="#">2단소메뉴6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">메뉴2</a>
                            <ul class="main2">
                                <li>
                                    <a href="#">소메뉴1</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴7</a></li>
                                        <li><a href="#">2단소메뉴8</a></li>
                                        <li><a href="#">2단소메뉴9</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">소메뉴2</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴10</a></li>
                                        <li><a href="#">2단소메뉴11</a></li>
                                        <li><a href="#">2단소메뉴12</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">소메뉴3</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴13</a></li>
                                        <li><a href="#">2단소메뉴14</a></li>
                                        <li><a href="#">2단소메뉴15</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">메뉴3</a>
                            <ul class="main2">
                                <li><a href="#">소메뉴1</a></li>
                                <li><a href="#">소메뉴2</a></li>
                                <li>
                                    <a href="#">소메뉴3</a>
                                    <ul class="main3">
                                        <li><a href="#">2단소메뉴16</a></li>
                                        <li><a href="#">2단소메뉴17</a></li>
                                        <li><a href="#">2단소메뉴18</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">메뉴4</a>
                            <ul class="main2">
                                <li><a href="#">소메뉴1</a></li>
                                <li><a href="#">소메뉴2</a></li>
                                <li><a href="#">소메뉴3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="login_user"><strong><i class="far fa-user-circle"></i> <span th:text="${session.userName}"></span></strong>님 반갑습니다.</div>
                <div class="logout">
                    <button type="button"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div id="container">
        <div class="menu_toggle"><span></span></div>
        <!--/* 좌측 영역 */-->
        <div class="lcontent">
            <!--/* 메뉴 */-->
            <nav>
                <ul>
                    <li class="has_sub"><a href="javascript: void(0);" class="on"><span>유니스터디<br>관리시스템</span></a>
                        <ul>
                            <li><a href="/board" class="on">리스트형</a></li>
                            <li><a href="javascript: alert('준비 중입니다.');">갤러리형</a></li>
                            <li><a href="javascript: alert('준비 중입니다.');">캘린더형</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript: alert('준비 중입니다.');"><span>회원 관리</span></a></li>
                </ul>
            </nav>
        </div>

        <!--/* 우측 영역 */-->
        <div class="rcontent">

            <!--/* 페이지별 컨텐츠 */-->
            <th:block layout:fragment="content"></th:block>

        </div>
    </div> <!--/* // #container */-->
    <footer>Copyright(c) 유니스터디.All rights reserved.</footer>
</div>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>