<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="main-body">
<div id="adm_wrap">
    <div id="container">
        <!--/* 좌측 영역 */-->
        <div class="sideMenuTable">
            <div class="lcontent">
                <!--/* 메뉴 */-->
                <nav>
                    <ul>
                        <li class="has_sub" th:each="menu : ${commonMenuList}">
                            <a th:href="${menu.authority}">
                                <th:span th:text="${menu.menuName}"></th:span>
                            </a>
                            <ul th:if="${!menu.children.isEmpty()}">
                                <li class="has_sub" th:each="child1: ${menu.children}">
                                    <a th:href="${child1.authority}" th:if="${child1.isUse == 'Y'}">
                                        <th:block th:text="${child1.menuName}"></th:block>
                                    </a>
                                    <ul th:if="${!child1.children.isEmpty()}">
                                         <li th:each="child2 : ${child1.children}" th:if="${child2.isUse == 'Y'}">
                                             <a th:href="${child2.authority}">
                                                 <th:block th:text="${child2.menuName}"></th:block>
                                             </a>
                                         </li>
                                     </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <header>
                <div class="head">
                    <div class="top_menu">
                        <div class="login_user"><strong><i class="far fa-user-circle"></i>
                            <span th:text="${#authentication.getName()}"></span></strong>님
                            <th:block th:each="authority: ${#authentication.authorities}">
                                <span th:text="|[${authority.getAuthority()}]|"></span>
                            </th:block>
                        </div>
                        <div class="logout">
                            <button type="button" th:onclick="|location.href='@{/logout}'|">
                                <span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 30px;">
                    <ul class="main1">
                        <li th:each="menu : ${commonMenuList}">
                            <a th:href="${menu.authority}" th:text="${menu.menuName}"></a> <!--메뉴1-->
                            <ul class="main2" th:if="${!menu.children.isEmpty()}">
                                <li th:each="child1: ${menu.children}">
                                    <a th:href="${child1.authority}" th:text="${child1.menuName}"
                                       th:if="${child1.isUse == 'Y'}"></a> <!-- 소메뉴1 -->
                                    <ul class="main3" th:if="${!child1.children.isEmpty()}">
                                        <li th:each="child2 : ${child1.children}">
                                            <a th:href="${child2.authority}" th:text="${child2.menuName}"
                                               th:if="${child2.isUse == 'Y'}"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        <!--/* 우측 영역 */-->
        <div class="rcontent">
            <!--/* 페이지별 컨텐츠 */-->
            <div>
                <p>
                    <span style="font-weight: bold;">현재 위치: </span>
                    <span th:text="${session.fullPathName}"></span>
                </p>
            </div>
            <th:block layout:fragment="content"></th:block>
        </div>
    </div> <!--/* // #container */-->
    <footer>Copyright(c) 유니스터디.All rights reserved.</footer>
</div>
<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<th:block layout:fragment="script">
</th:block>
</body>
</html>