<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <section>
            <form id="updateForm" th:action th:object="${board}" enctype="multipart/form-data">
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;"/>
                        <col style="width:23%;"/>
                        <col style="width:10%;"/>
                        <col style="width:23%;"/>
                    </colgroup>
                    <tr>
                        <th scope="row">
                            메뉴명
                        </th>
                        <td>
                            <input type="text">
                        </td>
                        <th scope="row">
                            메뉴코드
                        </th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            URL
                        </th>
                        <td colspan="3">
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">사용여부</th>
                        <td colspan="3">
                            <input type="radio">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            메뉴설명
                        </th>
                        <td th:text="*{writer}" colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">내용</th>
                        <td colspan="3"><div style="min-height: 300px;"><span id="content" name="content" th:utext="*{content}" readonly></span></div></td>
                    </tr>
                    <tr>
                        <th scope="row">첨부파일</th>
                        <td colspan="3">
                            <div style="width: 100%;" th:each="file, fileStat : ${fileList}">
                                <a th:if="${file}" th:href="@{|/download/${file.id}|}">[[${file.uploadFileName}]]</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="btn_set">
                    <button th:if="${board.writer == session.loginId}" class="btns btn_bdr4 btn_mid" th:onclick="|location.href='@{/board/edit/{boardIdx}(boardIdx=${board.id})}'|" type="button" style="margin-top: 3px;margin-right: 2px">저장
                    </button>
                    <button class="btns btn_bdr5 btn_mid" th:onclick="|location.href='@{/board}'|" type="button" style="margin-top: 3px;">닫기
                    </button>
                </p>
            </form>
        </section>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>
</html>
