<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head"></head>
<body>
<div id="login_wrap">
    <div class="login-wrapper">
        <form method="post" action="/login" id="login_box">
            <h2>Login</h2>
            <input id="loginId" class="login_con" type="text" name="loginId" placeholder="Email">
            <input id="loginPassword" class="login_con" type="password" name="loginPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <button class="login_btn" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>